*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

body{
    background-color: #502680;
    font-family: 'Courier New', Courier, monospace;
    color: #E4CCFF;
}

a{
    color: #E4CCFF;
}

a:hover{
    color: #AB87D4;
}
#header{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headercls{
    margin: 10px;
    padding: 4px;
}

ul{
    list-style: none;
}

li{
    padding: 5px;
}

#about{
    padding: 14px;
    margin: 2rem 0;
}

#about h2{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
}

.info-container{
    text-align: center;
}

.info-content{
    text-justify: inter-word;
}

.habilidades-container{
    text-align: center;
}

.habilidades{
    display: flex;
    flex-wrap: wrap;
}
.habilidades ul{
    padding: auto;
    margin: auto;
    overflow: hidden;
}

.habilidades li{
    float: left;
    padding: 1ram 2ram;
    margin-right: 8px;
    margin-bottom: 2px;
    background: #ab87d452;
    text-align: center;
}

#contatos{
    margin: 2rem 0;
    text-align: center;
    position: relative;
}

form{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    margin: 10px auto;
}

.input-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

input{
    padding: 10px;
    border-radius: 10px;
}

textarea{
    width: 100%;
    padding: 2fr auto;
    margin: 3rem auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.btn{
    background-color: #ab87d45d;
    color: #E4CCFF;
}

.btn:hover{
    background-color: #ab87d48f;
}

#footer{
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}